@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTema.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/Producto1.jpg" alt="...">
            <div class="caption">
                <h3>Xiaomi redmi Note 4</h3>
                <p>"Descipcion"</p>
                <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Favorito</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/Producto2.jpg" alt="...">
            <div class="caption">
                <h3>Reloj</h3>
                <p>Descripcion</p>
                <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Favorito</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/Producto3.jpg" alt="...">
            <div class="caption">
                <h3>UMI plus E</h3>
                <p>Descripcion</p>
                <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Favorito</a></p>
            </div>
        </div>
    </div>
</div>
